workflows/buLImub4yv63WLN_a_1np.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-16T17:34:01.799Z",
  "id": "buLImub4yv63WLN_a_1np",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -176
      ],
      "id": "a370f46d-4dd7-48c3-907f-252a8cf82e45",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LER5BHjvaFWPjtksMPohtAB8qur5KVeMqCjeoaf-LeY",
          "mode": "list",
          "cachedResultName": "YOKU人事制度",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LER5BHjvaFWPjtksMPohtAB8qur5KVeMqCjeoaf-LeY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 715847638,
          "mode": "list",
          "cachedResultName": "評価結果",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LER5BHjvaFWPjtksMPohtAB8qur5KVeMqCjeoaf-LeY/edit#gid=715847638"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -176
      ],
      "id": "e20add01-32ae-46f9-a309-a08ebe12cb38",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "目標管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        32
      ],
      "id": "78a5aa26-b157-4b9d-9b0c-4f4a1230eb57",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "[\"氏名\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        -112
      ],
      "id": "d8aa4ba8-8358-428f-b4f6-96bac3252a45",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d537cb9-4131-49f8-9477-7145dfd3955a",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "636fef39-cea1-48e1-ac9b-225b571f13a7",
              "name": "現状グレード",
              "value": "={{ $json[\"領域（A/B/C）\"] == \"A(テクニカルスキル)\" ? $json[\"グレード(A)\"] : $json[\"領域（A/B/C）\"] == \"B(ビジネススキル)\" ? $json[\"グレード(B)\"] : $json[\"領域（A/B/C）\"] == \"C(リーダーシップ/マネジメント)\" ? $json[\"グレード(C)\"] : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -112
      ],
      "id": "e7fb8d48-203e-484c-b4df-208860de7cbe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "目標管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "社員番号",
              "displayName": "社員番号",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "氏名",
              "displayName": "氏名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "対象年",
              "displayName": "対象年",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "対象期",
              "displayName": "対象期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "領域（A/B/C）",
              "displayName": "領域（A/B/C）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "現状グレード",
              "displayName": "現状グレード",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "目標グレード",
              "displayName": "目標グレード",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "目標内容（アクション分類・測定可能なアクション）",
              "displayName": "目標内容（アクション分類・測定可能なアクション）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "目標フィードバック（上長）",
              "displayName": "目標フィードバック（上長）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "目標フィードバック（営業）",
              "displayName": "目標フィードバック（営業）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "自己評価（達成度%）",
              "displayName": "自己評価（達成度%）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "自己コメント（取り組んだ内容・成果・学び）",
              "displayName": "自己コメント（取り組んだ内容・成果・学び）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -112
      ],
      "id": "4c38f436-cfce-4f1c-b9e6-fb6480567222",
      "name": "Update row in sheet"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-16T17:34:01.801Z",
      "createdAt": "2026-01-16T17:34:01.801Z",
      "role": "workflow:owner",
      "workflowId": "buLImub4yv63WLN_a_1np",
      "projectId": "HM43VJ1kdxEjn4Js"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-16T17:34:01.799Z",
  "versionId": "91e4df5e-0eed-415b-8470-f4d4114b4d53"
}