workflows/cIcruK_rcxMsNgl4FDsyj.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "スキル要件○×つけフォーム": {
      "main": [
        [
          {
            "node": "スキルシート取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "過去ドキュメント取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スキルシート取得": {
      "main": [
        [
          {
            "node": "データ統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過去ドキュメント取得": {
      "main": [
        [
          {
            "node": "データ統合",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "データ統合": {
      "main": [
        [
          {
            "node": "プロンプト組み立て",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "プロンプト組み立て": {
      "main": [
        [
          {
            "node": "スキル判定AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "スキル判定AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "スキル判定AI": {
      "main": [
        [
          {
            "node": "結果をGoogle Docsに書き込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-11T08:30:54.157Z",
  "description": null,
  "id": "cIcruK_rcxMsNgl4FDsyj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "【営業】スキル要件○×つけ",
  "nodes": [
    {
      "parameters": {
        "formTitle": "【営業】スキル要件○×つけ",
        "formDescription": "案件のスキル要件に対して、スキルシートベースで○△×を判定します。",
        "formFields": {
          "values": [
            {
              "fieldLabel": "案件概要",
              "fieldType": "textarea",
              "placeholder": "案件の内容をすべて貼り付けてください（スキル要件を含む）",
              "requiredField": true
            },
            {
              "fieldLabel": "Google DocsのURL",
              "placeholder": "スキル要件に○×をつけた案件情報を出力するGoogle DocsのURLを入力してください",
              "requiredField": true
            },
            {
              "fieldLabel": "スキルシートURL",
              "placeholder": "Google SheetsのURLを入力してください",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "bb17e315-fad0-42ba-b5e2-414deabd78ca",
      "name": "スキル要件○×つけフォーム",
      "webhookId": "4738b8df-9b67-4586-b197-9afd2b69e1d8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['スキルシートURL'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['スキルシートURL'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -128
      ],
      "id": "f7395f70-7860-4742-be49-e5a861c24f7c",
      "name": "スキルシート取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json['Google DocsのURL'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        304,
        160
      ],
      "id": "f1bca889-e9ad-4c48-9d5f-35c591ee5848",
      "name": "過去ドキュメント取得",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QizWSbmu4Psf7V9H",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        0
      ],
      "id": "a1b2c3d4-0001-0001-0001-merge0000001",
      "name": "データ統合"
    },
    {
      "parameters": {
        "jsCode": "const formData = $('スキル要件○×つけフォーム').first().json;\nconst sheetRows = $('スキルシート取得').all();\nconst docContent = $('過去ドキュメント取得').first().json.content;\n\n// Format skill sheet data into readable text\nlet skillSheet = '';\nfor (const row of sheetRows) {\n  const d = row.json;\n  const parts = [];\n  for (const [key, val] of Object.entries(d)) {\n    if (key === 'row_number') continue;\n    if (val && String(val).trim()) parts.push(String(val).trim());\n  }\n  if (parts.length > 0) skillSheet += parts.join(' | ') + '\\n';\n}\n\n// Extract past examples from Google Docs\nconst marker = 'エントリー不要の場合は、赤字でエントリー不要とわかる場所に記載ください';\nconst idx = docContent.indexOf(marker);\nlet pastExamples = '';\n\nif (idx >= 0) {\n  const after = docContent.substring(idx + marker.length);\n  const entries = after.split(/(?=\\d{4}\\/\\d{2}\\/\\d{2})/);\n  const evaluatedEntries = entries.filter(entry => {\n    const trimmed = entry.trim();\n    if (!trimmed) return false;\n    return /[・・][○〇△×✖]/.test(trimmed) || /[○〇△×✖]\\s/.test(trimmed);\n  });\n  pastExamples = evaluatedEntries.slice(0, 3).join('\\n');\n}\n\n// Build prompt - no XML tags to avoid them leaking into output\nconst chatInput = `以下の案件のスキル要件を判定してください。\n\n【案件概要】\n${formData['案件概要']}\n\n【スキルシート】\n${skillSheet}`;\n\nreturn [{\n  json: {\n    chatInput: chatInput,\n    pastExamples: pastExamples\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "a1b2c3d4-0001-0001-0001-code00000001",
      "name": "プロンプト組み立て"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=あなたは応募者本人として振る舞う営業支援AIです。エンジニアのスキルシートと案件のスキル要件を照合し、応募者の立場から各スキル項目に○△×の判定を行います。\n\n<rules>\n【判定基準】\n- ○：スキルを完璧に満たしている（経験年数も含めて条件を十分に満たす）\n- △：スキルを完璧には満たしていないが、キャッチアップ可能な範囲（必ず前向きな備考を付ける）\n- ×：基本的に使わず、経験がない場合でも△にして前向きなコメントを記載してください。本当にまったく関連がない場合のみ×とする\n\n【技術の推測ルール】\n- より大きな括りでの技術経験がある場合、それに含まれる小さな括りの技術も経験ありと推測すること\n- 例：Reactの開発経験がある → SSR/CSR、App Router、コンポーネント設計なども経験ありと判断する\n- 例：AWSの運用経験がある → EC2、S3、CloudWatch等の個別サービスも経験ありと判断する\n- 例：CI/CDの構築経験がある → GitHub Actions、Jenkinsなどの個別ツールも経験がある可能性が高いと判断する\n- スキルシートに明示的な記載がなくても、関連する上位技術の経験から合理的に推測して判定すること\n\n【応募者としての振る舞い】\n- あなたは応募者本人の立場で判定を行います\n- 「記載がありません」「スキルシートに見当たりません」のような第三者的な表現は使わないでください\n- 経験があるかないかを、スキルシートの内容から推測して断定的に記載してください\n- 例：「→Reactでのフロントエンド開発経験が3年あります」\n- 例：「→直接の経験はありませんが、Java/Pythonでのバックエンド開発経験があり、キャッチアップ可能です」\n\n【出力ルール（最重要）】\n- 案件概要の入力テキストを「全文」そのまま出力すること。案件名、業務内容、勤務条件、単価、募集要項などスキル要件以外の部分もすべてそのまま残すこと。スキル判定部分だけを出力するのは禁止\n- スキル要件の各項目にのみ○/△/×とコメントを付与する\n- 各スキル項目は「・○/△ スキル名」の後、改行して「→コメント」の形式で記載\n- コメントは必ず「どれくらいの期間で・どのような技術経験があるのか」を具体的に書くこと。どの案件・プロジェクトでの経験かは書かなくてよい\n- 例：「→GoでのAPI開発経験が1年あります」「→Docker運用経験があり、コンテナ技術の知見からキャッチアップ可能です」\n- コメントは1文でシンプルに書く\n- スキルシートの経歴内容（プロジェクト実績・期間）を参照して具体的な根拠を記載する\n- ですます調で記載する\n- 出力はプレーンテキストのみ（マークダウン記法やXMLタグは絶対に使わないこと）\n</rules>\n\n<pastExamples>\n以下は過去の判定例です。出力フォーマットの参考にしてください。ただしコメントの具体性については上記ルールの指示を優先してください：\n{{ $json.pastExamples }}\n</pastExamples>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        0
      ],
      "id": "a1b2c3d4-0001-0001-0001-agent0000001",
      "name": "スキル判定AI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        240
      ],
      "id": "a1b2c3d4-0001-0001-0001-model0000001",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XBOAe3Nw76IlKMVH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('スキル要件○×つけフォーム').first().json['Google DocsのURL'] }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "---案件情報---",
              "replaceText": "=---案件情報---\n\n{{ $now.toFormat('yyyy/MM/dd') }}\n＝＝＝＝＝\n{{ $json.output }}",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1376,
        0
      ],
      "id": "a1b2c3d4-0001-0001-0001-docs00000001",
      "name": "結果をGoogle Docsに書き込み",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QizWSbmu4Psf7V9H",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 【営業】スキル要件○×つけ 使い方\n\n### 概要\n案件のスキル要件に対して、エンジニアのスキルシートをベースに○△×判定を行い、Google Docsに結果を記載します。\n\n### 事前準備\n1. 結果を記載するGoogle Docsに「**---案件情報---**」という行を追加してください\n2. この行は**箇条書きフォーマットを解除した状態**で追加してください（箇条書きのままだと出力がすべて箇条書きになります）\n\n### 入力項目\n- **案件概要**: 案件の内容をそのまま貼り付け（スキル要件を含む）\n- **Google DocsのURL**: 判定結果を書き込むGoogle DocsのURL\n- **スキルシートURL**: エンジニアのGoogle SheetsスキルシートのURL\n\n### 出力\n- Google Docsの「---案件情報---」の下に、日付と判定結果が追記されます\n- 案件概要の全文がそのまま出力され、スキル要件部分に○/△/×とコメントが付与されます\n\n### 判定ルール\n- ○: スキルを完璧に満たしている\n- △: キャッチアップ可能な範囲\n- ×: まったく関連がない場合のみ\n- 上位技術の経験があれば、下位技術も経験ありと推測します\n- 応募者本人の立場で記載します",
        "height": 724,
        "width": 460,
        "color": 4
      },
      "id": "63917951-0589-4814-8efd-7d078025a5e9",
      "name": "使い方説明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -208
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-11T08:30:54.160Z",
      "createdAt": "2026-03-11T08:30:54.160Z",
      "role": "workflow:owner",
      "workflowId": "cIcruK_rcxMsNgl4FDsyj",
      "projectId": "mwID5OTVq3DrYryq",
      "project": {
        "updatedAt": "2025-11-13T14:51:48.267Z",
        "createdAt": "2025-11-13T14:36:59.116Z",
        "id": "mwID5OTVq3DrYryq",
        "name": "Jumpei Tamura <gtamu.dip@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
        "projectRelations": [
          {
            "updatedAt": "2025-11-13T14:36:59.117Z",
            "createdAt": "2025-11-13T14:36:59.117Z",
            "userId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
            "projectId": "mwID5OTVq3DrYryq",
            "user": {
              "updatedAt": "2026-03-11T08:14:08.000Z",
              "createdAt": "2025-11-13T14:36:48.586Z",
              "id": "36fefead-da4e-48c0-99da-60cc0ed98b20",
              "email": "gtamu.dip@gmail.com",
              "firstName": "Jumpei",
              "lastName": "Tamura",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-13T14:51:58.989Z",
                "personalization_survey_n8n_version": "1.98.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nJ6NxHK18rgZXMP4",
                "userActivatedAt": 1763558344486,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1772775475677
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-11T11:39:57.079Z",
  "versionCounter": 56,
  "versionId": "54ac5fb4-7a9e-4a2d-8f59-a9c36f7b1ff4"
}