workflows/fXlNyZKeESQ42SrbXJq5U.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "グレードテーブル取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "スキルレベル定義取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "評価管理（旧）取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "社員基本情報取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "出力済み社員取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "グレードテーブル取得": {
      "main": [
        [
          {
            "node": "制度情報待機",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スキルレベル定義取得": {
      "main": [
        [
          {
            "node": "制度情報待機",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "制度情報待機": {
      "main": [
        [
          {
            "node": "旧評価データ待機",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "評価管理（旧）取得": {
      "main": [
        [
          {
            "node": "旧評価データ待機",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "旧評価データ待機": {
      "main": [
        [
          {
            "node": "全データ同期",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "社員基本情報取得": {
      "main": [
        [
          {
            "node": "全データ同期",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "全データ同期": {
      "main": [
        [
          {
            "node": "対象社員絞り込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "社員ごとに処理": {
      "main": [
        [],
        [
          {
            "node": "スキルシート取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スキルシート取得": {
      "main": [
        [
          {
            "node": "コンテキスト統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "コンテキスト統合": {
      "main": [
        [
          {
            "node": "仮評価AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "仮評価AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "仮評価AI": {
      "main": [
        [
          {
            "node": "グレード算出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "グレード算出": {
      "main": [
        [
          {
            "node": "グレード評価整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "グレード評価整形": {
      "main": [
        [
          {
            "node": "評価管理（仮設定）出力",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "評価管理（仮設定）出力": {
      "main": [
        [
          {
            "node": "スキルレベル分割",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スキルレベル分割": {
      "main": [
        [
          {
            "node": "スキルレベル棚卸し出力",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スキルレベル棚卸し出力": {
      "main": [
        [
          {
            "node": "社員ごとに処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "仮評価AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "対象社員絞り込み": {
      "main": [
        [
          {
            "node": "出力済み除外",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "出力済み社員取得": {
      "main": [
        [
          {
            "node": "出力済み除外",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "出力済み除外": {
      "main": [
        [
          {
            "node": "社員ごとに処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-25T01:53:43.145Z",
  "description": null,
  "id": "fXlNyZKeESQ42SrbXJq5U",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "仮評価ワークフロー",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c3eb789d-3bb5-4dda-bb7f-5eeeffd07e52",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LXj65WWAZ9XqTg51-0mX343tNuXOekbx09s92jHT4j4/edit?gid=250180665#gid=250180665",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1167337429,
          "mode": "list",
          "cachedResultName": "グレード別スキルレベル（数値ランク）",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXj65WWAZ9XqTg51-0mX343tNuXOekbx09s92jHT4j4/edit#gid=1167337429"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -224
      ],
      "id": "e55b4fcd-a25d-40d4-b18a-43ea3df2ba41",
      "name": "グレードテーブル取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1EfTclTeC5_SYGCdkLkaXnXZaoqx3_mPzAaX9rl3P_x4/edit?gid=1284701742#gid=1284701742",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1838926671,
          "mode": "list",
          "cachedResultName": "参考）スキルレベル定義",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EfTclTeC5_SYGCdkLkaXnXZaoqx3_mPzAaX9rl3P_x4/edit#gid=1838926671"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -64
      ],
      "id": "021b4a79-6581-4c90-b16f-d3f0942a6d5a",
      "name": "スキルレベル定義取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 404530097,
          "mode": "list",
          "cachedResultName": "評価管理（旧）",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=404530097"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        128
      ],
      "id": "a809213b-e39b-4bd5-9f26-b19d807048c6",
      "name": "評価管理（旧）取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I",
          "mode": "list",
          "cachedResultName": "社員基本情報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        304
      ],
      "id": "6c9d967d-17da-48fe-a126-882ec2a17f6c",
      "name": "社員基本情報取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -144
      ],
      "id": "merge-1-system",
      "name": "制度情報待機"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        0
      ],
      "id": "merge-2-eval",
      "name": "旧評価データ待機"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        144
      ],
      "id": "merge-3-sync",
      "name": "全データ同期"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-folder-id",
              "leftValue": "={{ $json['人事フォルダID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-skill-sheet",
              "leftValue": "={{ $json['スキルシート'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1152,
        144
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000001",
      "name": "対象社員絞り込み"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1584,
        144
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000002",
      "name": "社員ごとに処理"
    },
    {
      "parameters": {
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $json['スキルシート'].split('id=').pop().split('&')[0] + '/values/A%3AZZ' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        304
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000003",
      "name": "スキルシート取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const employee = $('社員ごとに処理').first().json;\n\nconst skillDefRows = $('スキルレベル定義取得').all();\nconst skillDefsText = skillDefRows.map(row => {\n  return Object.entries(row.json)\n    .filter(([k, v]) => k !== 'row_number' && v && String(v).trim())\n    .map(([k, v]) => `${k}: ${String(v).trim()}`)\n    .join(' | ');\n}).filter(l => l).join('\\n');\n\nconst allEvals = $('評価管理（旧）取得').all();\nconst myEvals = allEvals.filter(item => String(item.json['社員番号']) === String(employee['社員番号']));\nlet pastEvalsText = 'なし';\nif (myEvals.length > 0) {\n  pastEvalsText = myEvals.map(row => {\n    return Object.entries(row.json)\n      .filter(([k, v]) => k !== 'row_number' && v && String(v).trim())\n      .map(([k, v]) => `${k}: ${String(v).trim()}`)\n      .join(' | ');\n  }).filter(l => l).join('\\n');\n}\n\nconst sheetResponse = $('スキルシート取得').first().json;\nlet skillSheetText = '';\nif (sheetResponse.values && sheetResponse.values.length > 0) {\n  skillSheetText = sheetResponse.values\n    .map(row => row.filter(v => v && String(v).trim()).join(' | '))\n    .filter(l => l)\n    .join('\\n');\n}\n\nconst chatInput = `以下の社員のスキルレベルを評価してください。\n\n<社員情報>\n社員番号: ${employee['社員番号']}\n氏名: ${employee['氏名']}\n入社日: ${employee['入社日'] || '不明'}\n勤続年数: ${employee['勤続年数'] || '不明'}\n役職: ${employee['役職'] || '不明'}\n所属: ${[employee['(所属名1)'], employee['(所属名2)'], employee['(所属名3)']].filter(x => x).join(' ')}\n</社員情報>\n\n<過去の評価データ>\n${pastEvalsText}\n</過去の評価データ>\n\n<スキルシート>\n${skillSheetText}\n</スキルシート>\n\n<スキルレベル定義>\n${skillDefsText}\n</スキルレベル定義>`;\n\nreturn [{ json: { chatInput, '社員番号': employee['社員番号'], '氏名': employee['氏名'] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        304
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000004",
      "name": "コンテキスト統合"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "あなたはエンジニアのスキルレベル評価のエキスパートです。\n提供された情報をもとに、社員の各スキルのレベルを1-5で評価してください。\n\n## 評価するスキル（必ずすべて評価すること）\n以下の17スキルを「カテゴリ / スキル名」の形式で出力してください：\n1. 技術力 / コーディング・実装\n2. 技術力 / システム設計\n3. 技術力 / テスト・品質保証\n4. 技術力 / 障害対応・運用\n5. 設計・判断 / アーキテクチャ設計\n6. 設計・判断 / 技術選定・トレードオフ\n7. 設計・判断 / 技術負債の戦略的管理\n8. 対人・組織 / コードレビュー・FB\n9. 対人・組織 / メンタリング・育成\n10. 対人・組織 / チーム間連携・調整\n11. 実行・推進 / タスク分解・見積もり\n12. 実行・推進 / プロジェクト推進\n13. 実行・推進 / プロセス改善・標準化\n14. 事業貢献 / 要件理解・提案\n15. 事業貢献 / 技術戦略と事業の接続\n16. 自己管理 / 学習意欲・成長\n17. 自己管理 / 自律性・オーナーシップ\n\n## 評価の基本姿勢（最重要）\n- **前向きに推測すること。実務経験の直接的な記載がなくても、関連する経験・ロール・技術から間接的にそのスキルがあると判断できる場合は、そのレベルに達しているとみなすこと**\n- 例：リーダーとして業務を行っている社員が、CI/CDパイプラインの構築も担当している場合 → テスト・品質保証においてもチーム全体のテスト戦略策定やCI連携の主導がこなせると推測できる\n- 例：複数技術での開発経験がある社員 → 技術選定・トレードオフの知見もあると推測できる\n- **「そのレベルに達していない」と判断するのは、どう前向きに捕らえてもそのスキルレベルに到達していると判断できる材料が一切ない場合のみとすること**\n\n## その他の注意点\n- スキルレベル定義を参照し、各スキルのレベルを1-5で評価すること\n- スキルシートの内容と過去の評価データを総合的に判断すること\n- **level_textにはスキルレベル定義の「要件」カラムの説明文を参考に、この社員に即した具体的な説明文を記載すること。★などの記号は使わないこと**\n- 情報がない場合は推測で低いレベル（1-2）を設定し、根拠に情報不足を明記すること\n\n## reason（根拠）の書き方\n各スキルのreasonには以下の2点を必ず記載すること：\n1. **このレベルである根拠**: 該当レベルの要件を満たしている具体的な根拠（直接的な実績または間接的に推測できる根拠）\n2. **次のレベルではない根拠**: 一つ上のレベルの要件で、前向きに推測しても到達していると判断できる材料がない点\n\n## 信頼度について\n- 判定に十分な情報がある場合: 0.8-1.0\n- ある程度の情報がある場合: 0.5-0.7\n- 情報が不足している場合: 0.3-0.5\n\n## 出力フォーマット\n指定されたJSON形式で回答すること。\nskill_nameは上記の「カテゴリ / スキル名」形式を正確に使用すること。\nlevel_textは説明文（例：「定義された仕様に対して一人で実装を完遍できる」）であり、★記号ではない。\n各項目は端的に、である調で書くこと。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2288,
        304
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000005",
      "name": "仮評価AI"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"confidence\": 0.8,\n  \"skills\": [\n    {\n      \"skill_name\": \"技術力 / コーディング・実装\",\n      \"level\": 3,\n      \"level_text\": \"設計ができ、CI/CDツール活用、テスト設計も対応可能なレベル\",\n      \"reason\": \"3年のJava開発経験があり、Spring Bootでのバックエンド構築を主導した実績がある\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2528,
        544
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000007",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $('仮評価AI').first().json.output;\nconst gradeTable = $('グレードテーブル取得').all();\nconst context = $('コンテキスト統合').first().json;\nconst employee = $('社員ごとに処理').first().json;\nconst careerTrack = (employee['キャリアトラック'] || '').trim();\n\nconst skillLevels = {};\nfor (const skill of aiOutput.skills) {\n  skillLevels[skill.skill_name] = skill.level;\n}\n\nconst roleRow = gradeTable.find(r => r.json.row_number === 2);\nconst skillRows = gradeTable.filter(r => r.json.row_number > 2);\n\nfunction meetsRequirements(gradeCol) {\n  const unmet = [];\n  for (const row of skillRows) {\n    const skillName = row.json['グレード'];\n    const required = row.json[gradeCol];\n    if (required === 0) continue;\n    const actual = skillLevels[skillName];\n    if (actual === undefined || actual < required) {\n      unmet.push({ skill: skillName, required, actual: actual || 0 });\n    }\n  }\n  return { met: unmet.length === 0, unmet };\n}\n\nlet baseGrade = null;\nlet baseLabel = '';\nfor (const g of ['G1', 'G2']) {\n  const result = meetsRequirements(g);\n  if (result.met) {\n    baseGrade = g;\n    baseLabel = `${g} ${roleRow?.json[g] || ''}`.trim();\n  }\n}\n\nconst isBiz = careerTrack.toLowerCase() === 'biz';\nconst isTech = careerTrack.toLowerCase() === 'tech';\n\nlet bizGrade = baseGrade;\nlet bizLabel = baseLabel;\nlet bizUnmet = [];\nif (!isTech) {\n  for (const g of ['G3-Biz', 'G4-Biz', 'G5-Biz']) {\n    const result = meetsRequirements(g);\n    if (result.met) {\n      bizGrade = g;\n      bizLabel = `${g} ${roleRow?.json[g] || ''}`.trim();\n    } else {\n      bizUnmet = result.unmet;\n      break;\n    }\n  }\n}\n\nlet techGrade = baseGrade;\nlet techLabel = baseLabel;\nlet techUnmet = [];\nif (!isBiz) {\n  for (const g of ['G3-Tech', 'G4-Tech', 'G5-Tech']) {\n    const result = meetsRequirements(g);\n    if (result.met) {\n      techGrade = g;\n      techLabel = `${g} ${roleRow?.json[g] || ''}`.trim();\n    } else {\n      techUnmet = result.unmet;\n      break;\n    }\n  }\n}\n\nconst order = { 'G1': 1, 'G2': 2, 'G3-Biz': 3, 'G3-Tech': 3, 'G4-Biz': 4, 'G4-Tech': 4, 'G5-Biz': 5, 'G5-Tech': 5 };\nlet finalGrade, finalLabel, nextUnmet;\n\nif (isBiz) {\n  finalGrade = bizGrade;\n  finalLabel = bizLabel;\n  nextUnmet = bizUnmet;\n} else if (isTech) {\n  finalGrade = techGrade;\n  finalLabel = techLabel;\n  nextUnmet = techUnmet;\n} else {\n  if ((order[bizGrade] || 0) >= (order[techGrade] || 0)) {\n    finalGrade = bizGrade;\n    finalLabel = bizLabel;\n    nextUnmet = bizUnmet;\n  } else {\n    finalGrade = techGrade;\n    finalLabel = techLabel;\n    nextUnmet = techUnmet;\n  }\n}\n\nif (!finalGrade) {\n  finalLabel = 'G1未満';\n  nextUnmet = meetsRequirements('G1').unmet;\n}\n\nlet reason = `スキルレベル評価に基づき、${finalLabel}の全要件を満たしている。`;\nif (careerTrack) {\n  reason += ` (キャリアトラック: ${careerTrack})`;\n}\nif (nextUnmet.length > 0) {\n  const details = nextUnmet.map(s => `${s.skill}(要求Lv${s.required}/実際Lv${s.actual})`).join('、');\n  reason += `\\n次のグレードに未達のスキル: ${details}`;\n}\n\nreturn [{\n  json: {\n    grade: finalLabel,\n    reason_for_grade: reason,\n    confidence: aiOutput.confidence,\n    '社員番号': context['社員番号'],\n    '氏名': context['氏名']\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        304
      ],
      "id": "grade-calc-node-v2",
      "name": "グレード算出"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sg-1",
              "name": "社員番号",
              "value": "={{ $json['社員番号'] }}",
              "type": "string"
            },
            {
              "id": "sg-2",
              "name": "氏名",
              "value": "={{ $json['氏名'] }}",
              "type": "string"
            },
            {
              "id": "sg-3",
              "name": "対象年",
              "value": "2026",
              "type": "string"
            },
            {
              "id": "sg-4",
              "name": "対象期",
              "value": "上期",
              "type": "string"
            },
            {
              "id": "sg-5",
              "name": "評価対象",
              "value": "総合",
              "type": "string"
            },
            {
              "id": "sg-6",
              "name": "評価信頼度",
              "value": "={{ $json.confidence }}",
              "type": "number"
            },
            {
              "id": "sg-7",
              "name": "上長評価（グレード・ランク）",
              "value": "={{ $json.grade }}",
              "type": "string"
            },
            {
              "id": "sg-8",
              "name": "上長コメント（フィードバック）",
              "value": "={{ $json.reason_for_grade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        304
      ],
      "id": "grade-format-node-v2",
      "name": "グレード評価整形"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410434997,
          "mode": "list",
          "cachedResultName": "評価管理（仮設定）",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=1410434997"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "社員番号",
              "displayName": "社員番号",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "氏名",
              "displayName": "氏名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "対象年",
              "displayName": "対象年",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "対象期",
              "displayName": "対象期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "評価対象",
              "displayName": "評価対象",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "現状グレード・ランク",
              "displayName": "現状グレード・ランク",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "現場評価（単価・顧客FB）",
              "displayName": "現場評価（単価・顧客FB）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "現場評価（公開・顧客FB）",
              "displayName": "現場評価（公開・顧客FB）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "評価信頼度",
              "displayName": "評価信頼度",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "上長評価（グレード・ランク）",
              "displayName": "上長評価（グレード・ランク）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "上長コメント（フィードバック）",
              "displayName": "上長コメント（フィードバック）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "次期課題",
              "displayName": "次期課題",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3008,
        304
      ],
      "id": "a1b2c3d4-f001-4001-8001-000000000009",
      "name": "評価管理（仮設定）出力",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $('仮評価AI').first().json.output;\nconst context = $('コンテキスト統合').first().json;\n\nreturn aiOutput.skills.map(skill => ({\n  json: {\n    '社員番号': context['社員番号'],\n    '氏名': context['氏名'],\n    '対象年': '2026',\n    '対象期': '上期',\n    'スキル': skill.skill_name,\n    'レベル（1-5）': skill.level,\n    'レベル（文章）': skill.level_text,\n    '根拠': skill.reason\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        304
      ],
      "id": "a1b2c3d4-f001-4001-8001-00000000000a",
      "name": "スキルレベル分割"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 47673663,
          "mode": "list",
          "cachedResultName": "スキルレベル棚卸しシート（仮設定）",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=47673663"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3488,
        304
      ],
      "id": "a1b2c3d4-f001-4001-8001-00000000000b",
      "name": "スキルレベル棚卸し出力",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## 仮評価ワークフロー\n\n### 処理の流れ\n1. 4つのデータソースを並列取得\n2. Mergeチェーンで全データの取得完了を同期\n3. 人事フォルダID＋スキルシートURLがある社員を絞り込み\n4. 社員ごとにスキルシートを読み込み → AIでスキルレベル評価\n5. グレードテーブルと比較してグレードをロジックで算出\n6. 評価管理（仮設定）・スキルレベル棚卸しシートに出力",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -240
      ],
      "id": "a1b2c3d4-f001-4001-8001-00000000000c",
      "name": "使い方説明"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "o3"
        },
        "builtInTools": {},
        "options": {
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2288,
        544
      ],
      "id": "dcbc2126-6098-4094-8007-326ca25ae442",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XBOAe3Nw76IlKMVH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "f5c56a32-92c9-4037-98e3-b6c3fb44531f",
      "name": "出力済み社員取得",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        480
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410434997,
          "mode": "list",
          "cachedResultName": "評価管理（仮設定）",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=1410434997"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "id": "55bf96c7-495b-4739-9357-1ed2299a60cb",
      "name": "出力済み除外",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        144
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "fieldsToMatchString": "社員番号",
        "options": {
          "fuzzyCompare": true
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-25T01:53:43.148Z",
      "createdAt": "2026-03-25T01:53:43.148Z",
      "role": "workflow:owner",
      "workflowId": "fXlNyZKeESQ42SrbXJq5U",
      "projectId": "mwID5OTVq3DrYryq",
      "project": {
        "updatedAt": "2025-11-13T14:51:48.267Z",
        "createdAt": "2025-11-13T14:36:59.116Z",
        "id": "mwID5OTVq3DrYryq",
        "name": "Jumpei Tamura <gtamu.dip@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
        "projectRelations": [
          {
            "updatedAt": "2025-11-13T14:36:59.117Z",
            "createdAt": "2025-11-13T14:36:59.117Z",
            "userId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
            "projectId": "mwID5OTVq3DrYryq",
            "user": {
              "updatedAt": "2026-03-25T01:53:51.554Z",
              "createdAt": "2025-11-13T14:36:48.586Z",
              "id": "36fefead-da4e-48c0-99da-60cc0ed98b20",
              "email": "gtamu.dip@gmail.com",
              "firstName": "Jumpei",
              "lastName": "Tamura",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-13T14:51:58.989Z",
                "personalization_survey_n8n_version": "1.98.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nJ6NxHK18rgZXMP4",
                "userActivatedAt": 1763558344486,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1774403628874
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-25T09:10:11.334Z",
  "versionCounter": 83,
  "versionId": "5d790ee1-6541-49d9-8a32-a962f0aa426b"
}