workflows/GQdaOFOyjuHfyTFbQ-3vE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "評価管理取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "グレードテーブル取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "評価管理取得": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YOKU評価シート取得": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "グレードテーブル取得": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "データ統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ統合": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "出力フォーマット",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "出力フォーマット": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "YOKU評価シート取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-05T10:15:47.411Z",
  "id": "GQdaOFOyjuHfyTFbQ-3vE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "【新制度】目標設定",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        32
      ],
      "id": "bb432cc4-50b0-4239-bdae-1a777fae7481",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 404530097,
          "mode": "list",
          "cachedResultName": "評価管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=404530097"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -208
      ],
      "id": "6296486e-f801-4248-9c44-67eb095b5374",
      "name": "評価管理取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "2026年上期",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "C4:K20"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        112
      ],
      "id": "8b507097-c78e-407f-b3ac-fc86c271200c",
      "name": "YOKU評価シート取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "168L2-CivFCuVbyQd4CNgHX_sD7SLr2rUC9AsmcnBT1I",
          "mode": "list",
          "cachedResultName": "[提案] YOKU人事制度",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/168L2-CivFCuVbyQd4CNgHX_sD7SLr2rUC9AsmcnBT1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198206375,
          "mode": "list",
          "cachedResultName": "グレードテーブル_ver1.1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/168L2-CivFCuVbyQd4CNgHX_sD7SLr2rUC9AsmcnBT1I/edit#gid=198206375"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        304
      ],
      "id": "42b24cf4-3a74-4e5d-b1ec-daf4f89ade3e",
      "name": "グレードテーブル取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        0
      ],
      "id": "b1a2c3d4-0010-4000-a000-000000000010",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        160
      ],
      "id": "b2a3c4d5-0011-4000-a000-000000000011",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Merge2で対象社員に絞り込み済みの評価データを取得\nconst evaluationData = $('Merge2').all();\nconst sampleSheet = $('YOKU評価シート取得').all();\nconst gradeTable = $('グレードテーブル取得').all();\n\n// 出力先ファイルIDを取得\nconst fileId = $('Search files and folders').first().json.id;\n\nif (evaluationData.length === 0) {\n  throw new Error('対象社員の評価データが見つかりませんでした');\n}\n\nconst employeeName = evaluationData[0].json['氏名'] || '対象社員';\nconst currentGrade = evaluationData[0].json['現状グレード・ランク'] || '';\n\n// --- 評価データをMarkdown化 ---\nconst skillCategories = ['A：テクニカルスキル', 'B：ビジネススキル', 'C：リーダーシップ/マネジメント'];\nconst evalSections = [];\n\nfor (const rec of evaluationData) {\n  const d = rec.json;\n  const subject = d['評価対象'] || '';\n  if (!skillCategories.some(c => subject.includes(c))) continue;\n\n  const section = [\n    '### ' + subject,\n    '',\n    '| 項目 | 内容 |',\n    '|---|---|',\n  ];\n  const addRow = (label, val) => {\n    if (val !== undefined && val !== null && val !== '' && val !== '(上長記入)' && val !== '(現場側入力)') {\n      section.push('| ' + label + ' | ' + String(val).replace(/\\n/g, '<br>') + ' |');\n    }\n  };\n  addRow('現場評価', d['現場評価（単価・顧客FB）']);\n  addRow('上長評価', d['上長評価（グレード・ランク）']);\n  addRow('上長コメント', d['上長コメント（フィードバック）']);\n  addRow('次期課題', d['次期課題']);\n  addRow('評価信頼度', d['評価信頼度']);\n  evalSections.push(section.join('\\n'));\n}\n\n// 総合の次期課題\nconst totalRec = evaluationData.find(r => r.json['評価対象'] === '総合');\nlet totalNextIssue = '';\nif (totalRec && totalRec.json['次期課題'] && totalRec.json['次期課題'] !== '(上長記入)') {\n  totalNextIssue = '### 総合の次期課題\\n\\n' + totalRec.json['次期課題'];\n}\n\n// 現場評価（総合）\nlet totalSiteEval = '';\nif (totalRec) {\n  const siteEval = totalRec.json['現場評価（単価・顧客FB）'] || '';\n  if (siteEval && siteEval !== '(現場側入力)') {\n    totalSiteEval = '### 現場評価（総合）\\n\\n' + siteEval;\n  }\n}\n\n// --- グレードテーブルをMarkdownテーブル化 ---\nconst gtHeader = ['| グレード | スキルレベル | ロール | 単価目安 | リレーション | ビジネス | エンジニアリング |', '|---|---|---|---|---|---|---|'];\nconst gtRows = gradeTable\n  .filter(r => r.json['グレード'] && r.json['グレード'] !== '-')\n  .map(r => {\n    const d = r.json;\n    const cell = (v) => String(v || '').replace(/\\n/g, '<br>');\n    return '| ' + [\n      cell(d['グレード']),\n      cell(d['スキルレベル']),\n      cell(d['ロール(現場)']),\n      cell(d['最低想定単価']),\n      cell(d['リレーションスキル（ポータブル）']),\n      cell(d['ビジネススキル（ポータブル）']),\n      cell(d['エンジニアリングスキル（ポータブル）'])\n    ].join(' | ') + ' |';\n  });\nconst gradeTableMd = gtHeader.concat(gtRows).join('\\n');\n\n// --- 評価シート参考をMarkdown化 ---\nconst sheetLines = [];\nfor (const row of sampleSheet) {\n  const d = row.json;\n  const label = d['対象期間'] || '';\n  const val = d['col_3'] || d['col_2'] || '';\n  if (!label && !val) continue;\n  if (val) {\n    sheetLines.push('- **' + label + '**: ' + String(val).replace(/\\n/g, '<br>'));\n  }\n}\nconst sheetRefMd = sheetLines.join('\\n');\n\n// --- chatInput 組み立て ---\nconst chatInput = [\n  '以下の情報を基に、' + employeeName + 'さんの次期目標を設定してください。',\n  '',\n  '## ' + employeeName + 'さんの基本情報',\n  '',\n  '- **現在のグレード**: ' + currentGrade,\n  '',\n  '## 前回評価の結果と次期課題',\n  '',\n  totalSiteEval,\n  '',\n  totalNextIssue,\n  '',\n  evalSections.join('\\n\\n'),\n  '',\n  '## グレードテーブル（次のグレードの要件参照）',\n  '',\n  gradeTableMd,\n  '',\n  '## 評価シート参考（キャリア・強み・課題・アクションプラン）',\n  '',\n  sheetRefMd,\n].join('\\n');\n\nreturn [{ json: { chatInput, _fileId: fileId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        160
      ],
      "id": "c1d2e3f4-0001-4000-a000-000000000001",
      "name": "データ統合"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "あなたはエンジニアの目標設定のエキスパートです。\n与えられたエンジニアの情報（現在のグレード、前回評価で合意された次期課題、前提条件）とグレードテーブル（次のグレードで求められる要件）を基に、新制度のフォーマットに従って次期の目標設定を行ってください。\n\n## 新制度の目標カテゴリ（No.1〜3の固定）\n1. リレーション：対人関係・顧客折衝・チームワーク・コミュニケーションに関する目標\n2. ビジネス：業務遂行・要件定義・ドキュメンテーション・プロジェクト管理に関する目標\n3. エンジニアリング：技術力・設計・実装・アーキテクチャに関する目標\n\n## 各目標の構成要素\n- ミッション：半期で達成すべき目標の概要（1〜2文で簡潔に記述）\n- プロセス：ミッション達成のための具体的な行動計画（箇条書き3〜5項目、「- 」で始める）\n- ゴール：測定可能・判定可能な達成基準（箇条書き2〜3項目、「- 」で始める）\n\n## 目標設定の方針\n- 次のグレードで求められるスキルレベルを意識し、到達に必要な要素を含める\n- 前回評価で合意した次期課題を必ず反映する\n- 具体的・定量的で、半期で達成可能な現実的な目標にする\n- である調で記述する\n- 旧制度のA(テクニカルスキル)/B(ビジネススキル)/C(リーダーシップ/マネジメント)の内容を、新制度のリレーション/ビジネス/エンジニアリングに適切にマッピングする"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1312,
        160
      ],
      "id": "d2e3f4a5-0002-4000-a000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1312,
        384
      ],
      "id": "e3f4a5b6-0003-4000-a000-000000000003",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0NqRMR42W2D52ZCC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"goals\": [\n    {\n      \"no\": 1,\n      \"category\": \"リレーション\",\n      \"mission\": \"ミッション内容\",\n      \"process\": \"- 行動計画1\\n- 行動計画2\\n- 行動計画3\",\n      \"goal\": \"- 達成基準1\\n- 達成基準2\"\n    },\n    {\n      \"no\": 2,\n      \"category\": \"ビジネス\",\n      \"mission\": \"ミッション内容\",\n      \"process\": \"- 行動計画1\\n- 行動計画2\\n- 行動計画3\",\n      \"goal\": \"- 達成基準1\\n- 達成基準2\"\n    },\n    {\n      \"no\": 3,\n      \"category\": \"エンジニアリング\",\n      \"mission\": \"ミッション内容\",\n      \"process\": \"- 行動計画1\\n- 行動計画2\\n- 行動計画3\",\n      \"goal\": \"- 達成基準1\\n- 達成基準2\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1536,
        384
      ],
      "id": "f4a5b6c7-0004-4000-a000-000000000004",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst fileId = $input.first().json._fileId || $('\\u30c7\\u30fc\\u30bf\\u7d71\\u5408').first().json._fileId;\nconst goals = output.goals;\n\nreturn goals.map(g => ({\n  json: {\n    'No.': g.no,\n    'ミッション': g.mission,\n    'プロセス': g.process,\n    'ゴール': g.goal,\n    '_fileId': fileId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        160
      ],
      "id": "a5b6c7d8-0005-4000-a000-000000000005",
      "name": "出力フォーマット"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $json._fileId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "2026年上期",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "No.": "={{ $json['No.'] }}",
            "ミッション": "={{ $json['ミッション'] }}",
            "プロセス": "={{ $json['プロセス'] }}",
            "ゴール": "={{ $json['ゴール'] }}"
          },
          "matchingColumns": [
            "No."
          ],
          "schema": [
            {
              "id": "No.",
              "displayName": "No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ミッション",
              "displayName": "ミッション",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "プロセス",
              "displayName": "プロセス",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ゴール",
              "displayName": "ゴール",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 23,
              "firstDataRow": 26
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        160
      ],
      "id": "31ab5771-4fb5-4b31-8ca9-770dd4d3cb2b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I",
          "mode": "list",
          "cachedResultName": "社員基本情報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        32
      ],
      "id": "48b6af51-eede-4cee-86f8-afd00eaf5a80",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d36f3ce-493d-46db-a616-284704c239dd",
              "leftValue": "={{ $json['社員番号'] }}",
              "rightValue": "A018",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        16,
        64
      ],
      "id": "e049e385-5332-41d7-88af-6d29a138383d",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "YOKU評価シート",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json['人事フォルダID'] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        64
      ],
      "id": "1d0a51d7-778b-43c1-9028-f63850bf9f92",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1NilOfPGyHGT5w36",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['社員番号']",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        -128
      ],
      "id": "65c737e4-4227-497c-979b-e4fb853428f0",
      "name": "Merge2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-05T10:15:47.413Z",
      "createdAt": "2026-03-05T10:15:47.413Z",
      "role": "workflow:owner",
      "workflowId": "GQdaOFOyjuHfyTFbQ-3vE",
      "projectId": "90B8ExeKfCtez8R1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-06T03:12:47.062Z",
  "versionId": "da7bcbc7-2e7e-47bb-81d1-b175ffae3bd4"
}