workflows/GQdaOFOyjuHfyTFbQ-3vE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "グレードテーブル取得": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "入力データ準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "入力データ準備": {
      "main": [
        [
          {
            "node": "サブワークフロー実行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "フォーム入力": {
      "main": [
        [
          {
            "node": "評価管理取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "グレードテーブル取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "評価管理取得": {
      "main": [
        [
          {
            "node": "評価管理フィルタ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "評価管理フィルタ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "サブワークフロー実行": {
      "main": [
        [],
        [
          {
            "node": "エラー判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラー判定": {
      "main": [
        [
          {
            "node": "未記載者まとめ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未記載者まとめ": {
      "main": [
        [
          {
            "node": "メール通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-05T10:15:47.411Z",
  "description": null,
  "id": "GQdaOFOyjuHfyTFbQ-3vE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "【新制度】目標設定",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 404530097,
          "mode": "list",
          "cachedResultName": "評価管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=404530097"
        },
        "options": {}
      },
      "id": "6296486e-f801-4248-9c44-67eb095b5374",
      "name": "評価管理取得",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        -256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I",
          "mode": "list",
          "cachedResultName": "社員基本情報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit#gid=0"
        },
        "options": {}
      },
      "id": "48b6af51-eede-4cee-86f8-afd00eaf5a80",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "168L2-CivFCuVbyQd4CNgHX_sD7SLr2rUC9AsmcnBT1I",
          "mode": "list",
          "cachedResultName": "[提案] YOKU人事制度",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/168L2-CivFCuVbyQd4CNgHX_sD7SLr2rUC9AsmcnBT1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198206375,
          "mode": "list",
          "cachedResultName": "グレードテーブル_ver1.1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/168L2-CivFCuVbyQd4CNgHX_sD7SLr2rUC9AsmcnBT1I/edit#gid=198206375"
        },
        "options": {}
      },
      "id": "42b24cf4-3a74-4e5d-b1ec-daf4f89ade3e",
      "name": "グレードテーブル取得",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZfwIn54p5eaFX5s0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-sync-a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        -64
      ]
    },
    {
      "parameters": {},
      "id": "merge-sync-b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// 評価管理から対象社員のデータをフィルタリング\nconst allEvaluation = $('評価管理フィルタ').all();\nconst employees = $('Get row(s) in sheet').all();\nconst gradeTable = $('グレードテーブル取得').all().map(r => r.json);\n\n// フォームから対象年・対象期を取得\nconst formData = $('フォーム入力').first().json;\nconst targetYear = formData['対象年'];\nconst targetPeriod = formData['対象期'];\n\nconst results = [];\nfor (const emp of employees) {\n  const empNo = emp.json['社員番号'];\n  const hrFolderId = emp.json['人事フォルダID'];\n\n  // この社員の評価データを社員番号でフィルタ\n  const evalData = allEvaluation\n    .filter(r => r.json['社員番号'] === empNo)\n    .map(r => r.json);\n\n  // 評価データがない社員はスキップ（サブワークフローでエラーになるため）\n  if (evalData.length === 0) {\n    continue;\n  }\n\n  results.push({\n    json: {\n      evaluationData: evalData,\n      gradeTable: gradeTable,\n      hrFolderId: hrFolderId,\n      targetYear: targetYear,\n      targetPeriod: targetPeriod\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-prep",
      "name": "入力データ準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Etheyfa0EdEr8Si0",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "exec-sub",
      "name": "サブワークフロー実行",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        944,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "formTitle": "【新制度】目標設定",
        "formDescription": "目標設定の対象年と対象期を入力してください",
        "formFields": {
          "values": [
            {
              "fieldLabel": "対象年",
              "fieldType": "number",
              "placeholder": "2026",
              "requiredField": true
            },
            {
              "fieldLabel": "対象期",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "上期"
                  },
                  {
                    "option": "下期"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "form-trigger-001",
      "name": "フォーム入力",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -416,
        32
      ],
      "webhookId": "1e28e2ad-1bca-4330-b8bd-523039673418"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-year",
              "leftValue": "={{ $json['対象年'] }}",
              "rightValue": "={{ $('フォーム入力').first().json['対象期'] === '上期' ? $('フォーム入力').first().json['対象年'] - 1 : $('フォーム入力').first().json['対象年'] }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "cond-period",
              "leftValue": "={{ $json['対象期'] }}",
              "rightValue": "={{ $('フォーム入力').first().json['対象期'] === '上期' ? '下期' : '上期' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eval-filter-01",
      "name": "評価管理フィルタ",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        0,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const errorStr = (item.json.error || '').toString();\n  const evaluationData = item.json.evaluationData;\n\n  // evaluationDataが存在し、中身がある = サブワークフローのバリデーションエラー\n  if (evaluationData && evaluationData.length > 0) {\n    const employeeNo = evaluationData[0]['社員番号'] || '';\n    const employeeName = evaluationData[0]['氏名'] || '';\n\n    // エラー文字列から未記載項目を抽出\n    let fieldsStr = errorStr;\n    fieldsStr = fieldsStr.replace(/^評価シート未記載:\\s*/, '');\n    const dashIdx = fieldsStr.indexOf(' - ');\n    if (dashIdx >= 0) {\n      fieldsStr = fieldsStr.substring(dashIdx + 3);\n    }\n    fieldsStr = fieldsStr.replace(/\\s*\\[line \\d+\\]$/, '');\n    const missingFields = fieldsStr.split(/[,、]\\s*/).filter(f => f.trim());\n\n    results.push({\n      json: {\n        employeeNo,\n        employeeName,\n        missingFields\n      }\n    });\n    continue;\n  }\n\n  // evaluationDataが空または未定義 = その他のエラー（スキップ）\n  results.push({\n    json: {\n      employeeNo: '',\n      employeeName: '不明',\n      missingFields: [errorStr || '不明なエラー']\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "error-classify",
      "name": "エラー判定",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) return [];\n\nconst lines = items.map(item => {\n  const d = item.json;\n  const fields = Array.isArray(d.missingFields) ? d.missingFields.join('、') : String(d.missingFields);\n  return `・${d.employeeName}（${d.employeeNo}）: ${fields}`;\n});\n\nconst body = [\n  '【新制度】目標設定ワークフローにおいて、以下の社員のYOKU評価シートに未記載項目がありました。',\n  '該当社員の評価シートに記載後、再実行してください。',\n  '',\n  ...lines,\n  '',\n  `対象者数: ${items.length}名`\n].join('\\n');\n\nreturn [{\n  json: {\n    subject: '【要対応】目標設定 - 評価シート未記載者一覧',\n    body: body\n  }\n}];"
      },
      "id": "error-aggregate",
      "name": "未記載者まとめ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        288
      ]
    },
    {
      "parameters": {
        "sendTo": "gtamu.dip@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "email-notify",
      "name": "メール通知",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        288
      ],
      "webhookId": "79ef95a3-c11e-423f-8dfb-1b456c480cbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "B0RIeXUc6Wr3DHZX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T05:24:31.390Z",
      "createdAt": "2026-03-06T05:24:31.390Z",
      "role": "workflow:owner",
      "workflowId": "GQdaOFOyjuHfyTFbQ-3vE",
      "projectId": "mwID5OTVq3DrYryq",
      "project": {
        "updatedAt": "2025-11-13T14:51:48.267Z",
        "createdAt": "2025-11-13T14:36:59.116Z",
        "id": "mwID5OTVq3DrYryq",
        "name": "Jumpei Tamura <gtamu.dip@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
        "projectRelations": [
          {
            "updatedAt": "2025-11-13T14:36:59.117Z",
            "createdAt": "2025-11-13T14:36:59.117Z",
            "userId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
            "projectId": "mwID5OTVq3DrYryq",
            "user": {
              "updatedAt": "2026-03-11T01:22:34.000Z",
              "createdAt": "2025-11-13T14:36:48.586Z",
              "id": "36fefead-da4e-48c0-99da-60cc0ed98b20",
              "email": "gtamu.dip@gmail.com",
              "firstName": "Jumpei",
              "lastName": "Tamura",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-13T14:51:58.989Z",
                "personalization_survey_n8n_version": "1.98.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nJ6NxHK18rgZXMP4",
                "userActivatedAt": 1763558344486,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1772775475677
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-11T03:56:31.948Z",
  "versionCounter": 34,
  "versionId": "560ee4f2-b0fd-4b5f-b41c-bcb52d60c952"
}