workflows/mKyoj7gOXvHuruYI3Dnbd.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Driveに保存": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'JSON to PDF変換'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'JSON to PDF変換'": {
      "main": [
        [
          {
            "node": "Google Driveに保存",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-22T05:34:45.576Z",
  "id": "mKyoj7gOXvHuruYI3Dnbd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "エンジニア評価配布ワークフロー",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        0
      ],
      "id": "0917a178-c5fc-4bc9-a6aa-2865c98c48ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 404530097,
          "mode": "list",
          "cachedResultName": "評価管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=404530097"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        240
      ],
      "id": "b87001cd-ec30-43cf-85ad-65c90b59bbcf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oexYBZO5dI51RhKU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I",
          "mode": "list",
          "cachedResultName": "社員基本情報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        0
      ],
      "id": "81e0ff9e-e4cb-42b3-9381-ef183e836140",
      "name": "Get row(s) in sheet1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oexYBZO5dI51RhKU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        144
      ],
      "id": "b7e65673-b8a7-4ac0-9141-98522a1254bc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['社員番号']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        144
      ],
      "id": "68367294-d663-4392-8ff4-475990c0e029",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2c10390-f94d-4cfb-8541-d15706a1daa1",
              "name": "社員番号",
              "value": "={{ $json['社員番号'] }}",
              "type": "string"
            },
            {
              "id": "1caa6321-db0c-45e6-8575-c62c75bd1176",
              "name": "人事フォルダID",
              "value": "={{ $json['人事フォルダID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "3b5630d2-24ea-42d6-831d-77d34ab9ead0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "name": "={{ $('Split Out').item.json.meta.filename }}",
        "driveId": {
          "__rl": true,
          "value": "0ALfrP71k0cUSUk9PVA",
          "mode": "list",
          "cachedResultName": "012_人事",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0ALfrP71k0cUSUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Split Out').item.json.meta.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ed1ee48b-dfde-446b-b3de-94a7c03f3488",
      "name": "Google Driveに保存",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2592,
        192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TaUx0BJqqRNew0e9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07a79d36-5242-4949-87c1-5a51ca16f7c5",
              "name": "meta.filename",
              "value": "={{ $json['氏名'] }}_{{ $json['対象年'] }}年{{ $json['対象期'] }}_評価結果.pdf",
              "type": "string"
            },
            {
              "id": "d2c3dbec-c02d-4150-a701-0e21aececc9e",
              "name": "meta.folderId",
              "value": "={{ $json['人事フォルダID'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        144
      ],
      "id": "2ba545a1-adf1-4143-9423-c1b7ae9d5781",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ee95dcb-d4ff-472c-9afe-2a88c8cc1ae7",
              "leftValue": "={{ $json['人事フォルダID'] }}",
              "rightValue": "A007",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ],
      "id": "9bf7d72c-eeb5-4e3e-9d89-65fe869bcce1",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst empObj = {};\nfor (const item of $input.all()) {\n  if (empObj[`${item.json.社員番号}`] == undefined) {\n    empObj[`${item.json.社員番号}`] = [];\n  }\n  empObj[`${item.json.社員番号}`].push(item.json);\n}\n\nconst res = Object.entries(empObj).map(([empId, data]) => ({\n  json: {\n    employeeId: empId,\n    data: data  // 配列として保持\n  }\n}));\n\nreturn res;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        144
      ],
      "id": "fe6e45d4-de09-4b5c-a3ed-5ad6e968a088",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OJDbY4ZuxtOm1S3G",
          "mode": "list",
          "cachedResultUrl": "/workflow/OJDbY4ZuxtOm1S3G",
          "cachedResultName": "JSON to PDF変換"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2368,
        192
      ],
      "id": "c898c9a0-e512-463d-967c-6be42bea3d77",
      "name": "Call 'JSON to PDF変換'"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1904,
        192
      ],
      "id": "2e786753-5520-470a-a610-a3626e14ab18",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0450619e-a0cb-47dd-9ebd-7080c1b39dec",
              "name": "社員番号",
              "value": "={{ $json['社員番号'] }}",
              "type": "string"
            },
            {
              "id": "d8e47e34-643e-40da-bc89-3314948341cf",
              "name": "氏名",
              "value": "={{ $json['氏名'] }}",
              "type": "string"
            },
            {
              "id": "e3d62a98-23ef-45eb-9918-3fa4c6e0b509",
              "name": "対象年",
              "value": "={{ $json['対象年'] }}",
              "type": "number"
            },
            {
              "id": "cfa8f76f-4e14-4aff-90cb-5dcfb148bc94",
              "name": "対象期",
              "value": "={{ $json['対象期'] }}",
              "type": "string"
            },
            {
              "id": "ca809b73-2487-49da-ab15-f31ab90f5ab5",
              "name": "評価対象",
              "value": "={{ $json['評価対象'] }}",
              "type": "string"
            },
            {
              "id": "b5a28e81-3a26-4a54-a097-d8357d26143f",
              "name": "現場評価（単価・顧客FB）",
              "value": "={{ $json['現場評価（公開・顧客FB）'] }}",
              "type": "string"
            },
            {
              "id": "c7ec5c8c-e023-4b75-9667-18cf2758dfe8",
              "name": "上長評価（グレード・ランク）",
              "value": "={{ $json['上長評価（グレード・ランク）'] }}",
              "type": "string"
            },
            {
              "id": "ed9210b4-44b8-4ff7-9494-0f202a84dd0c",
              "name": "上長コメント（フィードバック）",
              "value": "={{ $json['上長コメント（フィードバック）'] }}",
              "type": "string"
            },
            {
              "id": "12e987f6-16e4-4193-b6fe-8a10be8f2915",
              "name": "次期課題",
              "value": "={{ $json['次期課題'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        192
      ],
      "id": "288d046e-8470-41b1-8b37-9eff0ed9ce8c",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-22T05:34:45.579Z",
      "createdAt": "2026-02-22T05:34:45.579Z",
      "role": "workflow:owner",
      "workflowId": "mKyoj7gOXvHuruYI3Dnbd",
      "projectId": "HM43VJ1kdxEjn4Js"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-22T11:07:52.035Z",
  "versionId": "361ceae2-4dfa-468e-9ac3-3eea9c599918"
}