workflows/OJDbY4ZuxtOm1S3G.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "HTMLテーブル生成": {
      "main": [
        [
          {
            "node": "Gotenberg PDF変換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ワークフロー呼び出しトリガー": {
      "main": [
        [
          {
            "node": "HTMLテーブル生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-22T07:58:10.109Z",
  "description": null,
  "id": "OJDbY4ZuxtOm1S3G",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "JSON to PDF変換",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// スプレッドシートから取得したデータをHTMLテーブルに変換（PDF横長複数ページ対応）\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { html: '<p>データがありません</p>' } }];\n}\n\n// ヘッダー（最初のアイテムのキーを使用）\nconst headers = Object.keys(items[0].json);\n\n// HTMLテーブルを構築（横長PDF複数ページ用）\nlet html = `\n<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @page {\n      size: A4 landscape;\n      margin: 15mm;\n    }\n    \n    * {\n      box-sizing: border-box;\n    }\n    \n    html, body {\n      margin: 0;\n      padding: 0;\n      font-family: 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;\n      background-color: #ffffff;\n      font-size: 10px;\n    }\n    \n    .container {\n      width: 100%;\n      padding: 10px;\n    }\n    \n    h1 {\n      margin: 0 0 15px 0;\n      font-size: 18px;\n      color: #000;\n      text-align: center;\n    }\n    \n    table {\n      width: 100%;\n      border-collapse: collapse;\n      background-color: white;\n      font-size: 9px;\n      table-layout: auto;\n      border: 1px solid #000;\n    }\n    \n    thead {\n      display: table-header-group;\n    }\n    \n    th {\n      background-color: #f0f0f0;\n      color: #000;\n      padding: 8px 6px;\n      text-align: left;\n      font-weight: 600;\n      font-size: 9px;\n      vertical-align: middle;\n      border: 1px solid #000;\n      white-space: nowrap;\n    }\n    \n    tbody tr {\n      page-break-inside: avoid;\n    }\n    \n    td {\n      padding: 6px;\n      color: #000;\n      vertical-align: top;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n      line-height: 1.3;\n      border: 1px solid #000;\n    }\n    \n    .footer {\n      margin-top: 15px;\n      text-align: right;\n      font-size: 8px;\n      color: #666;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <table>\n      <thead>\n        <tr>\n`;\n\n// ヘッダー行を追加\nfor (const header of headers) {\n  html += `          <th>${escapeHtml(header)}</th>\\n`;\n}\n\nhtml += `        </tr>\n      </thead>\n      <tbody>\n`;\n\n// データ行を追加\nitems.forEach((item, index) => {\n  html += `        <tr>\\n`;\n  for (const header of headers) {\n    const value = item.json[header] ?? '';\n    html += `          <td>${escapeHtml(String(value))}</td>\\n`;\n  }\n  html += `        </tr>\\n`;\n});\n\nhtml += `      </tbody>\n    </table>\n    <div class=\"footer\">生成日時: ${new Date().toLocaleString('ja-JP')} / 全${items.length}件</div>\n  </div>\n</body>\n</html>`;\n\n// HTMLエスケープ関数\nfunction escapeHtml(text) {\n  const map = {\n    '&': '&amp;',\n    '<': '&lt;',\n    '>': '&gt;',\n    '\"': '&quot;',\n    \"'\": '&#039;'\n  };\n  return text.replace(/[&<>\"']/g, m => map[m]);\n}\n\n// HTMLをバイナリデータとして出力\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf-8'),\n  'index.html',\n  'text/html'\n);\n\nreturn [{ json: {}, binary: { file: binaryData } }];"
      },
      "id": "code",
      "name": "HTMLテーブル生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "file"
            },
            {
              "parameterType": "formData",
              "name": "landscape",
              "value": "true"
            },
            {
              "parameterType": "formData",
              "name": "paperWidth",
              "value": "11.7"
            },
            {
              "parameterType": "formData",
              "name": "paperHeight",
              "value": "8.3"
            },
            {
              "parameterType": "formData",
              "name": "marginTop",
              "value": "0.6"
            },
            {
              "parameterType": "formData",
              "name": "marginBottom",
              "value": "0.6"
            },
            {
              "parameterType": "formData",
              "name": "marginLeft",
              "value": "0.6"
            },
            {
              "parameterType": "formData",
              "name": "marginRight",
              "value": "0.6"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "gotenberg-pdf",
      "name": "Gotenberg PDF変換",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "exec-trigger",
      "name": "ワークフロー呼び出しトリガー",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T05:24:31.397Z",
      "createdAt": "2026-03-06T05:24:31.397Z",
      "role": "workflow:owner",
      "workflowId": "OJDbY4ZuxtOm1S3G",
      "projectId": "mwID5OTVq3DrYryq",
      "project": {
        "updatedAt": "2025-11-13T14:51:48.267Z",
        "createdAt": "2025-11-13T14:36:59.116Z",
        "id": "mwID5OTVq3DrYryq",
        "name": "Jumpei Tamura <gtamu.dip@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
        "projectRelations": [
          {
            "updatedAt": "2025-11-13T14:36:59.117Z",
            "createdAt": "2025-11-13T14:36:59.117Z",
            "userId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
            "projectId": "mwID5OTVq3DrYryq",
            "user": {
              "updatedAt": "2026-03-12T06:15:43.000Z",
              "createdAt": "2025-11-13T14:36:48.586Z",
              "id": "36fefead-da4e-48c0-99da-60cc0ed98b20",
              "email": "gtamu.dip@gmail.com",
              "firstName": "Jumpei",
              "lastName": "Tamura",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-13T14:51:58.989Z",
                "personalization_survey_n8n_version": "1.98.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nJ6NxHK18rgZXMP4",
                "userActivatedAt": 1763558344486,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1772775475677
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-12T08:27:00.402Z",
  "versionCounter": 9,
  "versionId": "1c23c9cb-81a6-4697-ad47-c28d582dcc4b"
}