workflows/sxOaS57srCKArifa.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Workflow ID Form": {
      "main": [
        [
          {
            "node": "Get Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Completion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T06:03:13.906Z",
  "description": null,
  "id": "sxOaS57srCKArifa",
  "isArchived": false,
  "meta": null,
  "name": "Backup Workflow by ID",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Backup Workflow by ID",
        "formDescription": "バックアップしたいワークフローのIDを入力してください。",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Workflow ID",
              "placeholder": "例: teJGbp0mId-UYkQ9GvV6b",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "バックアップ実行"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Workflow ID Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        480,
        400
      ],
      "webhookId": "9c38cddc-ce44-4035-b003-91087b93d5c7"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": "={{ $json['Workflow ID'] }}",
        "requestOptions": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Get Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        768,
        400
      ],
      "credentials": {
        "n8nApi": {
          "id": "PJbvcKaH5mQUJmFc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "W3hyCect5yIdzgPp"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        992,
        400
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "バックアップ完了",
        "completionMessage": "ワークフローのGitHubへのバックアップが完了しました。",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Completion Page",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "webhookId": "dfb60ecb-f092-4a1d-a4ac-38924d6d5769"
    },
    {
      "parameters": {
        "content": "## Backup Workflow by ID\n\nフォームからワークフローIDを入力して、個別にGitHubへバックアップします。\nサブワークフロー「Backup Single Workflow to GitHub」を呼び出します。",
        "height": 156,
        "width": 548,
        "color": 4
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        208
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T06:03:13.908Z",
      "createdAt": "2026-03-06T06:03:13.908Z",
      "role": "workflow:owner",
      "workflowId": "sxOaS57srCKArifa",
      "projectId": "eh4qnmYYF0VsPwpi",
      "project": {
        "updatedAt": "2026-03-06T05:45:07.319Z",
        "createdAt": "2026-03-06T05:44:42.783Z",
        "id": "eh4qnmYYF0VsPwpi",
        "name": "junpei gtamu.work@gmail.com <gtamu.work@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "daaf06ca-fe5f-4e31-bf59-c6b4acf9edfb",
        "projectRelations": [
          {
            "updatedAt": "2026-03-06T05:44:42.784Z",
            "createdAt": "2026-03-06T05:44:42.784Z",
            "userId": "daaf06ca-fe5f-4e31-bf59-c6b4acf9edfb",
            "projectId": "eh4qnmYYF0VsPwpi",
            "user": {
              "updatedAt": "2026-03-06T06:32:20.039Z",
              "createdAt": "2026-03-06T05:44:40.127Z",
              "id": "daaf06ca-fe5f-4e31-bf59-c6b4acf9edfb",
              "email": "gtamu.work@gmail.com",
              "firstName": "junpei",
              "lastName": "gtamu.work@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-03-06T05:45:16.350Z",
                "personalization_survey_n8n_version": "2.4.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "W3hyCect5yIdzgPp",
                "userActivatedAt": 1772778704361
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-06T06:06:56.383Z",
  "versionCounter": 6,
  "versionId": "f2cc5f1e-f164-4749-a754-fcc294178a2a"
}