workflows/TnkF9Io6yyrkHiSZHb-vv.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "目標取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "現場評価取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "現場評価取得": {
      "main": [
        [
          {
            "node": "上長評価がないものに絞り込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "目標取得": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上長評価がないものに絞り込み": {
      "main": [
        [
          {
            "node": "A/B/Cの3つのスキルのみに絞り込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A/B/Cの3つのスキルのみに絞り込み": {
      "main": [
        [
          {
            "node": "評価の表記を揃える",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "プロンプト組み立て",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "プロンプト組み立て": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "上長評価出力用編集",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上長評価出力用編集": {
      "main": [
        [
          {
            "node": "上長評価出力",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上長評価出力": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "評価の表記を揃える": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-17T08:31:55.946Z",
  "id": "TnkF9Io6yyrkHiSZHb-vv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "グレード査定",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f12717fe-0ec5-4d8a-88a6-7795622c9131",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "目標管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "3214b931-0f17-45cd-9563-289cbaf65f99",
      "name": "目標取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oexYBZO5dI51RhKU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 404530097,
          "mode": "list",
          "cachedResultName": "評価管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=404530097"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "現場入力済み",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        208
      ],
      "id": "3ca3d126-28f9-4759-83ad-a441a6aa1606",
      "name": "現場評価取得",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oexYBZO5dI51RhKU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a9a681e-7b85-473a-90d7-a51a34e74417",
              "leftValue": "={{ $json['上長評価（グレード・ランク）'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        208
      ],
      "id": "0e3bf32a-96dc-4279-9034-2e8144cbaf0b",
      "name": "上長評価がないものに絞り込み"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86e98ccf-f9f4-47dc-9480-3ad1d738dc96",
              "leftValue": "={{ $json['評価対象'] }}",
              "rightValue": "A：テクニカルスキル",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d8c77969-fae9-4777-ada2-5803ec918501",
              "leftValue": "={{ $json['評価対象'] }}",
              "rightValue": "B：ビジネススキル",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0a17f1a9-185d-47d3-be37-ec1a107b6976",
              "leftValue": "={{ $json['評価対象'] }}",
              "rightValue": "C：リーダーシップ/マネジメント",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        624,
        208
      ],
      "id": "894a2f52-0817-402f-a034-bbffb063bf95",
      "name": "A/B/Cの3つのスキルのみに絞り込み"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['社員番号'], ['対象年'], ['対象期'], ['領域（A/B/C）']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        128
      ],
      "id": "dae581ce-bab4-4f12-b0db-96fce1b41668",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        128
      ],
      "id": "04bd952a-37d2-477b-99d6-5ef3bb4b3cef",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "文章は日本語で書いてください。\nあなたはエンジニア評価のエキスパートです。\n\n**注意点**\n- 弊社のグレード制度では、G4以降はビジネスサイドとテックサイドにキャリアが分岐します。キャリアの途中から別サイドに移るようなことはできないので注意してください。（例： G4 テックリード→G5 上級SE のような遷移は許容しません）\n\n    ## グレード基準(CSV)\n```\n﻿グレード,職位,ステージ,主な役割 (ロール),(A)テクニカルスキル (例：プログラミング、インフラ、設計…),(B)ビジネススキル (例：要件定義、折衝、ドキュメンテーション…),(C)リーダーシップ/マネジメント (例：チーム運営、教育…),列9,列10,列11,列4,列3\n階級,階級,階級,役割,\"能力評価（SES現場）\n(A)テクニカルスキル\",\"能力評価（SES現場）\n(B)ビジネススキル\",\"行動評価（SES現場）\n(C)リーダーシップ/マネジメント\",行動評価（YOKU内部）,\"売上目安\n（AsIs）\",\"年収目安\n（AsIs）\",\"売上目安\n（ToBe）\",\"年収目安\n（ToBe）\"\nグレード,職位,ステージ,主な役割 (ロール),(A)テクニカルスキル (例：プログラミング、インフラ、設計…),(B)ビジネススキル (例：要件定義、折衝、ドキュメンテーション…),(C)リーダーシップ/マネジメント (例：チーム運営、教育…),,\"【出発地点】\n想定単価目安\n\",\"【出発地点】\n想定年収 (給与レンジ)\",\"【目標地点】\n想定単価目安\",\"【目標地点】\n想定年収 (給与レンジ)\"\n\"G1\nジュニアエンジニア\",一般社員,メンバー,\"- 初級PGとして開発に参加 \n- 先輩の指示をもとにコーディング\",\"- 詳細設計 \n- 基礎的な開発スキル (1～2つの言語やフレームワークの基礎理解) \n- バグ修正や簡易テストが可能\",\"- タスク管理ツールの基本操作 \n- 指示された要件を把握し、質問できる\",\"- チームリーダーのサポートが中心 \n- 自己管理がメイン（リーダーシップ要求なし）\",,40万円〜60万円,250万円〜440万円,40万～80万円 / 月,250万～580万円\n\"G2\n中級エンジニア\",一般社員/主任,メンバー,\"- 基本設計～実装を主体的に行う \n- 部分的に要件整理に参加\",\"- 設計ができる \n- CI/CDツール活用、テスト設計も対応可 \n- FWやライブラリを使いこなし、コード品質を担保\",\"- 顧客・上長とのやりとりで簡単な要件調整 \n- ドキュメント作成（設計書・報告資料）の基礎\",\"- チームリーダーのサポートが中心 \n- 自己管理がメイン（リーダーシップ要求なし）\",,55万円〜65万円,380万円〜470万円,70万～100万円 / 月,510万～730万円\n\"G3\n中級エンジニア\",一般社員/主任,メンバー,\"- 基本設計～実装を主体的に行う \n- 部分的に要件整理に参加\",\"- 設計ができる \n- CI/CDツール活用、テスト設計も対応可 \n- FWやライブラリを使いこなし、コード品質を担保\",\"- 顧客・上長とのやりとりで簡単な要件調整 \n- ドキュメント作成（設計書・報告資料）の基礎\",\"- 後輩やG1メンバーへの技術サポート \n- 小規模タスクのリード経験があると望ましい\",,55万円〜70万円,380万円〜510万円,70万～100万円 / 月,510万～730万円\n\"G4\n上級SE\",主任/係長,サブリーダー,\"- 要件定義や設計を主導 \n- 実装にも幅広く関与\",\"- 要件定義、基本・詳細設計全般 \n- パフォーマンスチューニング、非機能要件の検討 \n- CI/CDパイプラインの最適化\",\"  - 顧客折衝においては、追加要件の調整を自ら行うことができる。\n- 論理的なドキュメント作成や提案資料の作成能力を持ち、専門知識を活かした提案が可能。\",\"  - チームの技術的リードとして、プロジェクトの進捗管理及び品質担保を行う。\n- メンバーの育成・技術指導を積極的に実施し、チーム全体のスキル向上を図る。\n- プロジェクトにおける技術的課題を自ら解決し、チームを導く能力が求められる。\",,60万円〜80万円,430万円〜580万円,90万～120万円 / 月,650万～870万円\n\"G4\nテックリード\",主任/係長,サブリーダー,\"- 技術選定やアーキテクチャ設計を主導 \n- チームの技術的な方向性を決定 \n- チーム間の技術的な調整\",\"- モダンな開発技術・設計パターンを駆使 \n- 高負荷システムの設計・最適化 \n- 新技術の調査・導入の判断 \n- CI/CDパイプラインの改善\",\"  - 技術課題の解決策を提案し、プロジェクトの技術戦略を策定する力を持つ。\",\"  - 5名規模のチームをリードし、技術選定や技術戦略の指導を行いながらチームを統率する。\n- タスク配分や進捗管理を行い、チームの生産性を最大化する。\n- メンバーの技術的コーチングを継続的に行い、個々の成長をサポートする。\",,60万円〜80万円,430万円〜580万円,90万～120万円 / 月,650万～870万円\n\"G5\n上級SE\",係長/課長,リーダー,\"- 要件定義や設計を主導 \n- 実装にも幅広く関与\",\"- 実装・構築はフルスタックに対応可能 - 要件定義、基本・詳細設計全般 \n- パフォーマンスチューニング、非機能要件の検討 \n- CI/CDパイプラインの最適化\",\"   - 顧客折衝においては、新規要件の調整を自ら行うことができる。\n- 多様な場面での交渉力を持ち、プロジェクトを成功に導くための調整を行う。\",\"  - チーム全体の技術的リードとして、成果とその責任を担い、チームの成功に直接貢献する。\n- 他エンジニアへの指導を戦略的に行い、チーム全体の技術力を向上させる。\n- プロジェクトにおける技術的な方向性を鮮明に示し、チームを導く。\",,70万円〜100万円,500万円〜730万円,,\n\"G5\nテックリード\",係長/課長,リーダー,\"- 要件定義 \n- 技術選定やアーキテクチャ設計を主導 \n- チームの技術的な方向性を決定 \n- チーム間の技術的な調整\",\"- フルスタック \n- モダンな開発技術・設計パターンを駆使 \n- 高負荷システムの設計・最適化 \n- 新技術の調査・導入の判断 \n- CI/CDパイプラインの改善\",\"  - 技術戦略の策定とその推進をリードし、プロジェクト運営に深く関与する。\n- 技術的な課題解決を通じて、プロジェクトの成功に貢献する。\",\"  - チーム運営を円滑に行い、最大限の成果を上げるべく、プロジェクトの方向性を統括する。\n- 各メンバーの技術的な成長を積極的に支援し、組織としての技術的成長を促進。\n- チームの成果に責任を持ち、技術的なリードとしての影響力をもつ。\",,70万円〜100万円,500万円〜730万円,,\n\"G6\nプロジェクトマネージャー (PM)\",課長/部長代理,ジュニアマネージャー,\"- 大規模プロジェクトの進行管理 \n- 顧客折衝・リスク管理\",\"- 開発プロセスの全体設計 \n- 複数チームの調整 \n- スケジュール・品質・コスト管理\",\"   - 顧客折衝においては、新規要件のリードを自ら行うことができる。\n- 高度な資料作成・プレゼン力\",\"- 10名以上のチーム/複数チーム管理 \n- メンバーの評価や育成計画 \n- 複数プロジェクトの成功責任を負う\",,80万円〜110万円,580万円〜800万円,100万～150万円 / 月,\"730万～1,100万円\"\n\"G6\nアーキテクト\",課長/部長代理,ジュニアマネージャー,\"- 大規模システムの設計 \n- 技術戦略の策定と実行\",\"- システム全体のアーキテクチャ設計\n- クラウド設計・最適化\n- セキュリティとスケーラビリティ\",\"- 技術ドキュメントの作成・レビュー \n- 顧客やチーム内での技術的意思決定を支援\",\"- 複数チームに対する技術指導 \n- 開発プロセスの改善 \n- エンジニア育成\",,80万円〜110万円,580万円〜800万円,100万～150万円 / 月,\"730万～1,100万円\"\n\"G7\nプロジェクトマネージャー (PM)\",部長代理/部長,ミドルマネージャー,\"- 大規模プロジェクトの進行管理 \n- 顧客折衝・リスク管理\",\"- 開発プロセスの全体設計 \n- 複数チームの調整 \n- スケジュール・品質・コスト管理\",- 2案件の顧客との関係構築と長期的な利害調整,- 組織全体の成果創出を目的としたプロジェクト推進を支援,,90万円〜120万円,640万円〜870万円,,\n\"G7\nアーキテクト\",部長代理/部長,ミドルマネージャー,\"- 大規模システムの設計 \n- 技術戦略の策定と実行\",\"- 高度なアーキテクチャ設計\n- クラウド技術の導入・最適化\n- セキュリティとスケーラビリティの専門知識\",- 技術的視点からの戦略的な意思決定支援,- 複数プロジェクトにおける技術的リスクを管理し、プロジェクトの成功に寄与する,,90万円〜120万円,640万円〜870万円,,\n\"G8\nプロジェクトマネージャー (PM)\",部長代理/部長,シニアマネージャー,\"- 大規模プロジェクトの進行管理 \n- 顧客折衝・リスク管理\",\"- 開発プロセスの全体設計 \n- 複数チームの調整 \n- スケジュール・品質・コスト管理\",- 3案件の顧客との関係構築と長期的な利害調整,- 性能と品質の管理に責任を持ち、品質保証を図る,,100万円〜150万円,730万円〜1080万円,,\n\"G8\nアーキテクト\",部長代理/部長,シニアマネージャー,\"- 大規模システムの設計 \n- 技術戦略の策定と実行\",\"- 先端アーキテクチャの設計\n- クラウド技術戦略のリード\n- 高度セキュリティとスケーラビリティ\",- 技術的リーダーシップでチームを導き、成功に導く,- 高度な技術戦略の策定と実行支援を行い、技術革新を促進する,,100万円〜150万円,730万円〜1080万円,,\n\"G9\nITコンサル\",部長代理/部長/執行役員/取締役,シニアマネージャー,- 顧客の経営層に対してIT戦略提案,\"- DX推進のための包括的知識 \n- 新技術の選定・PoC主導 \n- ITガバナンスの設計\",\"- ビジネス戦略とITを結びつける力 \n- 企業変革の提案と実行\",\"- 複数プロジェクトの戦略立案 \n- 組織・チームの最適化 \n- 訴求力の高いレポート作成\",,150万円以上,1000万円〜,130万円～ / 月 (上限なし),950万円以上 (上限なし)\n\"G9\nテックディレクター\",部長代理/部長/執行役員/取締役,シニアマネージャー,\"- 企業全体の技術戦略策定 \n- 技術の長期的な方向性を決定\",\"- 大規模技術基盤の構築 \n- 全社横断の技術的意思決定 \n- 企業の技術ブランディング\",\"- 企業文化・エンジニア組織の強化 \n- 技術者の採用・育成・評価体系構築\",\"- 全体の技術ビジョンを策定 \n- 技術を用いた事業成長をリード\n- CTOに近い役割\",,150万円以上,1000万円〜,130万円～ / 月 (上限なし),950万円以上 (上限なし)\nG10 ITコンサル,TBD,パートナー,TBD,TBD,TBD,TBD,,180万円以上,1300万円〜,,\nG10 テックディレクター,TBD,パートナー,TBD,TBD,TBD,TBD,,180万円以上,1300万円〜,,\n```\n\n    ## 評価方法\n    以下のJSON形式で回答してください：\n    {\n        \"grade\": \"判定グレード\",\n        \"reason_for_grade\": \"このグレードである理由\",\n        \"reason_not_higher\": \"一つ上のグレードでない理由\",\n        \"next_issue\": \"次期課題\",\n        \"confidence\": \"信頼度（0-1）\"\n    }\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1728,
        336
      ],
      "id": "eba7ace8-826f-4e69-aa7e-74a8856b5856",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1728,
        560
      ],
      "id": "6fb07ad8-c371-48bb-b059-831693a5370e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NQMfZvzvYcG56vjU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"grade\": \"グレード\",\n  \"reason_for_grade\": \"このグレードである理由\",\n  \"reason_not_higher\": \"一つ上のグレードでない理由\",\n  \"next_issue\": \"次期課題\",\n  \"confidence\": \"信頼度（1-5）\"    \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        560
      ],
      "id": "ff260eae-7847-48cb-8320-d058cf61555c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4164f7b3-002d-4f3d-aaa0-9f286cc67d67",
              "name": "chatInput",
              "value": "=<領域（A/B/C）>\n{{ $json['領域（A/B/C）'] }}\n</領域（A/B/C）>\n\n<現状グレード>\n{{ $json['現状グレード'] }}\n</現状グレード>\n\n<目標グレード>\n{{ $json['目標グレード'] }}\n</目標グレード>\n\n<目標内容（アクション）>\n{{ $json['目標内容（アクション分類・測定可能なアクション）'] }}\n</目標内容（アクション）>\n\n<自己評価％>\n{{ $json['自己評価（達成度%）'] }}\n</自己評価％>\n\n<自己コメント>\n{{ $json['自己コメント（取り組んだ内容・成果・学び）'] }}\n</自己コメント>\n\n<現場評価>\n{{ $json['現場評価（単価・顧客FB）'] }}\n</現場評価>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        336
      ],
      "id": "2e4db8eb-601e-449d-b845-f1e13c1f72b4",
      "name": "プロンプト組み立て"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e6597ad-b3a6-489d-85a1-80dfc7a40317",
              "name": "row_number",
              "value": "={{ $('Loop Over Items').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "e2c32884-b395-4501-ac3e-ed37e89c4d98",
              "name": "上長評価（グレード・ランク）",
              "value": "={{ $json.output.grade }}",
              "type": "string"
            },
            {
              "id": "712a1747-3946-4777-a57a-95a6835bbba3",
              "name": "上長コメント（フィードバック）",
              "value": "=【このグレードにした理由】\n{{ $json.output.reason_for_grade }}\n\n【次のグレードでない理由】\n{{ $json.output.reason_not_higher }}",
              "type": "string"
            },
            {
              "id": "963dbafd-bd14-4628-9926-44a753b989bf",
              "name": "次期課題",
              "value": "={{ $json.output.next_issue }}",
              "type": "string"
            },
            {
              "id": "fb5ca9d4-4abc-46f3-af0c-b75d30673a0c",
              "name": "評価信頼度",
              "value": "={{ $json.output.confidence }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        336
      ],
      "id": "27d4ecad-dc40-4658-8aa2-ae379166b378",
      "name": "上長評価出力用編集"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0",
          "mode": "list",
          "cachedResultName": "目標・評価管理シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 404530097,
          "mode": "list",
          "cachedResultName": "評価管理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124JGHYceu0NeAS_tvV9EiuaMLUU0bAcYjIynwNXcnm0/edit#gid=404530097"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "社員番号",
              "displayName": "社員番号",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "氏名",
              "displayName": "氏名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "対象年",
              "displayName": "対象年",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "対象期",
              "displayName": "対象期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "評価対象",
              "displayName": "評価対象",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "現状グレード・ランク",
              "displayName": "現状グレード・ランク",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "現場入力済み",
              "displayName": "現場入力済み",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "現場評価（単価・顧客FB）",
              "displayName": "現場評価（単価・顧客FB）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "上長評価（グレード・ランク）",
              "displayName": "上長評価（グレード・ランク）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "上長コメント（フィードバック）",
              "displayName": "上長コメント（フィードバック）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "次期課題",
              "displayName": "次期課題",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "評価信頼度",
              "displayName": "評価信頼度",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        336
      ],
      "id": "a9b67f66-93fe-49e2-ac97-56916e89a574",
      "name": "上長評価出力",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oexYBZO5dI51RhKU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst SKILL_MAP = {\n  \"A(テクニカルスキル)\": \"A：テクニカルスキル\",\n  \"B(ビジネススキル)\": \"B：ビジネススキル\",\n  \"C(リーダーシップ/マネジメント)\": \"C：リーダーシップ/マネジメント\"\n}\n\nfor (const item of $input.all()) {\n  for (const [key, value] of Object.entries(SKILL_MAP)) {\n    if (item.json['評価対象'] == value) {\n      item.json['領域（A/B/C）'] = key;\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        208
      ],
      "id": "5674349e-8af7-425c-b04f-c4bcf4e35ebf",
      "name": "評価の表記を揃える"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-17T08:31:55.947Z",
      "createdAt": "2026-01-17T08:31:55.947Z",
      "role": "workflow:owner",
      "workflowId": "TnkF9Io6yyrkHiSZHb-vv",
      "projectId": "HM43VJ1kdxEjn4Js"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-17T09:34:39.951Z",
  "versionId": "c5ea7618-3be1-4a15-829c-18036a137dc6"
}