workflows/uH0gBb6INaWzRGgX.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "エラーメール本文作成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーメール本文作成": {
      "main": [
        [
          {
            "node": "エラーメール通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-29T10:15:50.495Z",
  "description": null,
  "id": "uH0gBb6INaWzRGgX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "エラー通知",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst execution = data.execution;\nconst error = execution.error || {};\nconst workflow = data.workflow || {};\n\nconst now = new Date();\nconst jstDate = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst timestamp = jstDate.toISOString().replace('T', ' ').slice(0, 19);\n\nconst errorMessage = error.message || JSON.stringify(error);\nconst nodeName = (error.node && error.node.name) ? error.node.name : (execution.lastNodeExecuted || '不明');\nconst stack = error.stack || '';\n\nconst body = `<h2 style=\"color: #d32f2f;\">ワークフローでエラーが発生しました</h2>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px;\">\n  <tr><th style=\"background:#f0f0f0;\">発生日時</th><td>${timestamp} (JST)</td></tr>\n  <tr><th style=\"background:#f0f0f0;\">ワークフロー</th><td>${workflow.name || '不明'} (ID: ${workflow.id || 'N/A'})</td></tr>\n  <tr><th style=\"background:#f0f0f0;\">エラー内容</th><td>${errorMessage}</td></tr>\n  <tr><th style=\"background:#f0f0f0;\">発生ノード</th><td>${nodeName}</td></tr>\n  <tr><th style=\"background:#f0f0f0;\">実行ID</th><td>${execution.id || 'N/A'}</td></tr>\n  <tr><th style=\"background:#f0f0f0;\">実行詳細</th><td><a href=\"${execution.url || '#'}\">確認する</a></td></tr>\n</table>\n<br>\n${stack ? '<details><summary>スタックトレース</summary><pre>' + stack + '</pre></details>' : ''}`;\n\nreturn [{ json: { emailBody: body, workflowName: workflow.name || '不明' } }];"
      },
      "id": "error-email-code",
      "name": "エラーメール本文作成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "gtamu.dip@gmail.com",
        "toEmail": "gtamu.dip@gmail.com",
        "subject": "=【n8n】{{ $json.workflowName }} エラー発生",
        "html": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "f5ea4a0b-3926-4850-a714-4beb232705f1",
      "name": "エラーメール通知",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "webhookId": "dace5b1c-7b25-4fbc-bd34-4842fd49701d",
      "credentials": {
        "smtp": {
          "id": "RuD79cuOFqZ2elfM",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-18T14:56:36.622Z",
      "createdAt": "2026-04-18T14:56:36.622Z",
      "role": "workflow:owner",
      "workflowId": "uH0gBb6INaWzRGgX",
      "projectId": "mwID5OTVq3DrYryq",
      "project": {
        "updatedAt": "2025-11-13T14:51:48.267Z",
        "createdAt": "2025-11-13T14:36:59.116Z",
        "id": "mwID5OTVq3DrYryq",
        "name": "Jumpei Tamura <gtamu.dip@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
        "projectRelations": [
          {
            "updatedAt": "2025-11-13T14:36:59.117Z",
            "createdAt": "2025-11-13T14:36:59.117Z",
            "userId": "36fefead-da4e-48c0-99da-60cc0ed98b20",
            "projectId": "mwID5OTVq3DrYryq",
            "user": {
              "updatedAt": "2026-04-18T13:55:15.000Z",
              "createdAt": "2025-11-13T14:36:48.586Z",
              "id": "36fefead-da4e-48c0-99da-60cc0ed98b20",
              "email": "gtamu.dip@gmail.com",
              "firstName": "Jumpei",
              "lastName": "Tamura",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-13T14:51:58.989Z",
                "personalization_survey_n8n_version": "1.98.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nJ6NxHK18rgZXMP4",
                "userActivatedAt": 1763558344486,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1774403628874
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-18T14:57:33.251Z",
  "versionCounter": 3,
  "versionId": "d3ac09a6-534b-4bde-bac9-063821c155a9"
}