workflows/uSFrhyA1v59O2Wvu.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T13:29:56.241Z",
  "id": "uSFrhyA1v59O2Wvu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "tmp_目標管理シート配布",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5c87428e-3664-42c2-aa8a-30a2c962179c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I",
          "mode": "list",
          "cachedResultName": "社員基本情報",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OBqgWZDLYIFhrnCx37ixJorcAGuNSiwDV3wSMzPyP3I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        176
      ],
      "id": "c1a49824-251b-4142-a409-848265cc0c33",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99e16aed-be1d-4488-83a4-9fa3aab7ae72",
              "name": "id",
              "value": "={{ $json[\"社員番号\"] }}",
              "type": "string"
            },
            {
              "id": "1a7aa2a6-a548-4111-a579-62a600828886",
              "name": "name",
              "value": "={{ $json[\"(氏名)\"] }}",
              "type": "string"
            },
            {
              "id": "ce4ecdf7-bd20-440a-b0f7-c89dd84d176b",
              "name": "本人_事前に話したいこと1",
              "value": "={{ $json[\"本人_事前に話したいこと1\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "7fa19223-e834-41fe-8410-f925ea273bfb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "社員番号"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        0
      ],
      "id": "2b380674-f67e-4ec7-b45a-a1682a91c369",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SvqOhQK-43h-L3BjSm1TplPcarBSQ2aloY5ur6U4WQk",
          "mode": "list",
          "cachedResultName": "目標管理シート_20251213161707_utf8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SvqOhQK-43h-L3BjSm1TplPcarBSQ2aloY5ur6U4WQk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1033742185,
          "mode": "list",
          "cachedResultName": "目標管理シート_20251213161707_utf8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SvqOhQK-43h-L3BjSm1TplPcarBSQ2aloY5ur6U4WQk/edit#gid=1033742185"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9030d6f0-7ee0-42fe-960c-8152eeecbefe",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HSxvkZ3fCLKQ7gOJ",
          "name": "Google Sheets account (work)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d89d66a9-abe0-4d70-8342-de1dc793b988",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "32c89bf7-f1f3-48c6-8269-96fd58ac0a00",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "39b83b2c-e3ae-4ad2-b5f1-ccbef2fe9e84",
              "name": "本人_事前に話したいこと1",
              "value": "={{ $json[\"本人_事前に話したいこと1\"] }}",
              "type": "string"
            },
            {
              "id": "848c27ba-6a68-4216-b8eb-7d273414315c",
              "name": "人事フォルダID",
              "value": "={{ $json[\"人事フォルダID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "748e82fe-5045-48e0-ab23-cc757cf9b506",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "folderId": "1LeAmDm7dNOM5BAAGEoJtXaXm0ouVZN4I",
        "title": "=目標管理シートバックアップ_{{ $json.name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "4d8d79dc-f7ee-49ac-a513-8cdd5a5c58c2",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jgHsbDtln8i2gool",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Loop Over Items').item.json[\"本人_事前に話したいこと1\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1648,
        0
      ],
      "id": "13de01b7-d2f4-4864-b4ea-1fec226398ab",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jgHsbDtln8i2gool",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        0
      ],
      "id": "b1ec335c-8c6d-45a4-bbdb-0d645bbcafc1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecd33fec-6559-4f87-ba95-36bc2787a4fb",
              "leftValue": "={{ $json[\"本人_事前に話したいこと1\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "387ff17e-0faa-44b3-ad59-473bef3b8dfe",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T13:29:56.247Z",
      "createdAt": "2025-12-17T13:29:56.247Z",
      "role": "workflow:owner",
      "workflowId": "uSFrhyA1v59O2Wvu",
      "projectId": "90B8ExeKfCtez8R1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T14:39:18.000Z",
  "versionId": "686aadd8-4d14-43d9-b1ed-b37723aaed0a"
}